.cube > .one {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
  }

  .cube > .two {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
  }

  .cube > .three {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
  }

  .cube > .four {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
  }

  .cube > .five {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
  }

  .cube > .six {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
  }


  .cube > .seven {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
  }

  .cube > .eight {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
  }

  .cube > .nine {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
  }

  .cube > .ten {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
  }

  .cube > .eleven {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
  }

  .cube > .twelve {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
  }

  /* ---------- ring styles ------------- */
  .ring > .one {
    -webkit-transform: translateZ(380px);
  }

  .ring > .two {
    -webkit-transform: rotateY(30deg) translateZ(380px);
  }

  .ring > .three {
    -webkit-transform: rotateY(60deg) translateZ(380px);
  }

  .ring > .four {
    -webkit-transform: rotateY(90deg) translateZ(380px);
  }

  .ring > .five {
    -webkit-transform: rotateY(120deg) translateZ(380px);
  }

  .ring > .six {
    -webkit-transform: rotateY(150deg) translateZ(380px);
  }

  .ring > .seven {
    -webkit-transform: rotateY(180deg) translateZ(380px);
  }

  .ring > .eight {
    -webkit-transform: rotateY(210deg) translateZ(380px);
  }

  .ring > .nine {
    -webkit-transform: rotateY(-120deg) translateZ(380px);
  }

  .ring > .ten {
    -webkit-transform: rotateY(-90deg) translateZ(380px);
  }

  .ring > .eleven {
    -webkit-transform: rotateY(300deg) translateZ(380px);
  }

  .ring > .twelve {
    -webkit-transform: rotateY(330deg) translateZ(380px);
  }